--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: destination; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.destination (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(150) NOT NULL,
    description text,
    likes integer,
    image character varying(255),
    user_id integer NOT NULL,
    "timestamp" timestamp without time zone NOT NULL
);


ALTER TABLE public.destination OWNER TO postgres;

--
-- Name: destination_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.destination_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.destination_id_seq OWNER TO postgres;

--
-- Name: destination_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.destination_id_seq OWNED BY public.destination.id;


--
-- Name: travel_package; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.travel_package (
    id integer NOT NULL,
    name character varying(100),
    description text,
    location character varying(150),
    hotel character varying(100),
    hotel_description text,
    duration character varying(100),
    package_price double precision,
    latitude character varying(50) NOT NULL,
    longitude character varying(50) NOT NULL
);


ALTER TABLE public.travel_package OWNER TO postgres;

--
-- Name: travel_package_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.travel_package_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.travel_package_id_seq OWNER TO postgres;

--
-- Name: travel_package_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.travel_package_id_seq OWNED BY public.travel_package.id;


--
-- Name: travel_package_image; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.travel_package_image (
    id integer NOT NULL,
    filename character varying(255),
    travel_package_id integer NOT NULL
);


ALTER TABLE public.travel_package_image OWNER TO postgres;

--
-- Name: travel_package_image_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.travel_package_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.travel_package_image_id_seq OWNER TO postgres;

--
-- Name: travel_package_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.travel_package_image_id_seq OWNED BY public.travel_package_image.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_image; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_image (
    id integer NOT NULL,
    user_id integer NOT NULL,
    image_path character varying(255) NOT NULL
);


ALTER TABLE public.user_image OWNER TO postgres;

--
-- Name: user_image_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_image_id_seq OWNER TO postgres;

--
-- Name: user_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_image_id_seq OWNED BY public.user_image.id;


--
-- Name: users_callback_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_callback_request (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    phone character varying(20) NOT NULL,
    package_name character varying(100) NOT NULL,
    message text
);


ALTER TABLE public.users_callback_request OWNER TO postgres;

--
-- Name: users_callback_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_callback_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_callback_request_id_seq OWNER TO postgres;

--
-- Name: users_callback_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_callback_request_id_seq OWNED BY public.users_callback_request.id;


--
-- Name: wished_holiday; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wished_holiday (
    id integer NOT NULL,
    holiday_type character varying(50) NOT NULL,
    travel_duration integer NOT NULL,
    price_range character varying(100) NOT NULL,
    travel_time character varying(100) NOT NULL,
    departure_location character varying(100) NOT NULL,
    additional_info text,
    user_id integer NOT NULL
);


ALTER TABLE public.wished_holiday OWNER TO postgres;

--
-- Name: wished_holiday_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wished_holiday_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wished_holiday_id_seq OWNER TO postgres;

--
-- Name: wished_holiday_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wished_holiday_id_seq OWNED BY public.wished_holiday.id;


--
-- Name: destination id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.destination ALTER COLUMN id SET DEFAULT nextval('public.destination_id_seq'::regclass);


--
-- Name: travel_package id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_package ALTER COLUMN id SET DEFAULT nextval('public.travel_package_id_seq'::regclass);


--
-- Name: travel_package_image id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_package_image ALTER COLUMN id SET DEFAULT nextval('public.travel_package_image_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: user_image id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_image ALTER COLUMN id SET DEFAULT nextval('public.user_image_id_seq'::regclass);


--
-- Name: users_callback_request id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_callback_request ALTER COLUMN id SET DEFAULT nextval('public.users_callback_request_id_seq'::regclass);


--
-- Name: wished_holiday id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wished_holiday ALTER COLUMN id SET DEFAULT nextval('public.wished_holiday_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
e30df73e8f2e
\.


--
-- Data for Name: destination; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.destination (id, name, location, description, likes, image, user_id, "timestamp") FROM stdin;
2	band jungle 	inda	new dehli city	0	static/images\\destinations\\558de73b993ad259Screenshot_2024-02-08_211533.png	1	2024-02-29 12:10:40.100939
\.


--
-- Data for Name: travel_package; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: travel_package_image; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (id, username, email, password_hash) FROM stdin;
1	maisam2004	maisam2004@googlemail.com	$2b$12$c/79rSPuonkjkeYeBqg3hOtV.dviIdtU6B6bz6Wg932bUK0b/EQvy
2	maisam2005	bestman_co2003@hotmail.com	$2b$12$R/5HqBvsQs1PfZOCmlYbt.k70qpLPd6iewfUXo1R7jU/9vSSH2vOO
\.


--
-- Data for Name: user_image; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_image (id, user_id, image_path) FROM stdin;
1	1	E:\\learned\\code_instute\\projects\\travel_planning_project\\travel_planning\\static\\images\\IMG_20230628_220501.jpg
\.


--
-- Data for Name: users_callback_request; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wished_holiday; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wished_holiday (id, holiday_type, travel_duration, price_range, travel_time, departure_location, additional_info, user_id) FROM stdin;
2	cultural	5	budget	flexible dates	london	please be so luxury	1
4	beach	9	moderate	jan 2024	london	just cheepest possible	1
5	cultural	21	moderate	april	london	extra luggages 	1
6	adventure	21	moderate	april	london	guide me for this coming april	1
\.


--
-- Name: destination_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.destination_id_seq', 2, true);


--
-- Name: travel_package_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.travel_package_id_seq', 12, true);


--
-- Name: travel_package_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.travel_package_image_id_seq', 36, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 2, true);


--
-- Name: user_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_image_id_seq', 1, true);


--
-- Name: users_callback_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_callback_request_id_seq', 13, true);


--
-- Name: wished_holiday_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wished_holiday_id_seq', 6, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: destination destination_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.destination
    ADD CONSTRAINT destination_pkey PRIMARY KEY (id);


--
-- Name: travel_package_image travel_package_image_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_package_image
    ADD CONSTRAINT travel_package_image_pkey PRIMARY KEY (id);


--
-- Name: travel_package travel_package_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_package
    ADD CONSTRAINT travel_package_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user_image user_image_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_image
    ADD CONSTRAINT user_image_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: users_callback_request users_callback_request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_callback_request
    ADD CONSTRAINT users_callback_request_pkey PRIMARY KEY (id);


--
-- Name: wished_holiday wished_holiday_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wished_holiday
    ADD CONSTRAINT wished_holiday_pkey PRIMARY KEY (id);


--
-- Name: destination destination_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.destination
    ADD CONSTRAINT destination_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: travel_package_image travel_package_image_travel_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.travel_package_image
    ADD CONSTRAINT travel_package_image_travel_package_id_fkey FOREIGN KEY (travel_package_id) REFERENCES public.travel_package(id);


--
-- Name: user_image user_image_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_image
    ADD CONSTRAINT user_image_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: wished_holiday wished_holiday_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wished_holiday
    ADD CONSTRAINT wished_holiday_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

