:root {
  --modal-bg-color: #007bff; /* Define a root variable for the primary color */
  --modal-text-tel-color:red;
  --modal-text-color:pink;
  --modal-border:blue;
  --modal-border-top:violet;
  --font-Amu-family: 'Amulya', sans-serif;

/* carousel inside modal for images  */

  --modal-bg-color:linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 50%, 50%)); /* Define a root variable for the primary color */
  --modal-bg-color2:radial-gradient(farthest-corner circle at 100% 0%, #00a3ff 0%, #bd2eb3 100%);
  --modal-bg-color3:linear-gradient(185deg, rgba(125,162,205,1) 9%, rgba(66,130,205,1) 78%, rgba(196,210,203,0.9931431190640319) 99%);
  --modal-text-tel-color:rgba(160, 243, 35, 0.902);
  --modal-text-container:rgb(236, 202, 11);
  --modal-text-color:hsl(0, 0%, 100%);
  --modal-border:blue;
  --modal-border-top:violet;
}



.fira-code-h2 {
  font-family: var(--font-Amu-family);
  
  font-weight: 700;
  font-style: normal;
}
.fira-code-h5 {
  font-family: var(--font-Amu-family);
  
  font-weight: 450;
  font-style: normal;
}
body{
  background-color:#548a9b;
  background-image: url("/static/images/background/main_body2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  overflow: scroll;
  
}
*{
  box-sizing: border-box;
  margin: 0;
}


.navbar{
  background-color: rgb(139, 207, 207);
  
}
.offcanvas-start.show{
  background-color: aqua;
 
}
.nav-item.active .nav-link {
  border-bottom: 2px solid ;
  background-color: #00a2ff34;
}
.account{
  background: rgb(132, 96, 154);
  background: linear-gradient(185deg, rgba(115,126,140,1) 7%, rgba(186,91,200,1) 41%, rgba(192,224,187,0.9931431190640319) 100%);
  
}
.account .user_info{
  background-color: rgba(201, 190, 201, 0.598);
  margin: 0 auto;
  border-radius: 1em;
  line-height: 2.5em;
}



.neumorphic-icon-nav {
  font-size: 20px; /* Adjust icon size as needed */
  color: #643279; /* Black icon color */
  background-color: #ffffff00; /* White background color */
  border-radius: 50%; /* Circle shape */
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.neumorphic-icon-nav:hover{
  background-color: #686b3e5c;
  color: #000;

}
.navbar-nav{
  padding-left: 4px !important;
  font-weight: 500 !important;

}
.nav-lik-1:hover{
  background-color: #686b3e5c;
  color: #000;
  
}
.nav-link{
  color:#643279;
}

/*login page footer */




 header{
  position:sticky;
  top: 0;
  z-index: 1000;
  

 }








/* Apply both classes to the desired element */
.hero-container {
  width: 100%;
  height: 90%; /* Adjust as needed */
 
  /* ... other styles */
}

.hero-container.hero_bg,
.hero-container.hero_bg2 {
  /*position:fixed;  Or relative if desired */
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  margin: auto;
}

/* features ##########  */
.home .alert-success{
  font-weight: 700 !important;
  border-radius: 2em;
  text-align: center;


}
.home .alert-danger{
  font-weight: 700 !important;
  border-radius: 2em;
  text-align: center;

}
.home .alert-danger ul{
  list-style-type:none;
  padding-left: 0.8em;


}


.move_down{
    margin-top: 3rem;
}

/* HOVER APP ICON */
/* CSS for the initial logo */
.logo_nav_main {
  /* Add styles for the initial logo */
  /* For example: */
  margin-left: 1.2em;
  width: 265px; /* Adjust size as needed */
  height: 54px;
  background-image: url('/static/images/background/logo_end2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* CSS for the hover effect */
.logo-hover {
  display: none; /* Initially hide the hover image */
  width: 201px;
  height: 57px;
  margin-left: 1.3em;
}

/* When hovering over the navbar brand link, show the hover image */
.navbar-brand:hover .logo-hover {
  display: inline-block; /* Show the hover image */
  position: absolute;
  left:7px;
}

/* offer button */


.btn-lg{
  width:6em;
}




/* like button icon */

.liked {
  /* Style for the liked state */
  color: red; /* Your preferred color */
}
.noliked{
  color: #ccc;
}
/* cards */
.card{
  background-color: rgba(128, 128, 128, 0.225);
  background-color: rgba(243, 240, 240, 0.3);
  /* background-color: #5a83784d; */
  backdrop-filter: blur(10px);
}
.card.shadow{
  background-color: #d3f6ed78;
}
.bd-placeholder-img { /* images aspect */
  aspect-ratio: 3/2;
}
.btn-outline-success{
  margin-left: 3em;
  border-radius: 2em;
  
  border-color: #071409bc;
  border-block-end-width: 3px;
  color: rgb(35, 34, 34);
  text-shadow: 1px 1px 1px rgb(27 61 29 / 91%);
}
.show-more-btn{
  border-radius: 2em;
  position: relative;
  left:39%;
  
}
.fw-lighter{/* text in card for reviews */
  font-size: 14px !important;
}
/* form style to create own desire */


.whole_form select,input[type=text],input[type=number]{
  border-radius: 1em;
  padding: 0.5em;
}
.whole_form label{
  padding: 0.7em;
  font-size: 1rem;
  font-style: italic;
  color:black;
  text-shadow: 1px 1px 3px rgb(180 181 191 / 34%);
}
.whole_form h2{
  padding: 0.7em;
  font-size: 1.7rem;
  font-style: italic;
  color: var(--modal-text-color);
}


/* modal stuff ########### */

/* background-color: var(--primary-color); */
.home .modal-title{
  color:var(--modal-text-container);
  font-family: var(--font-Amu-family);
  font-size: 2em;

}
.home .modal-content{
 
  background-image: var(--modal-bg-color);
  color:var(--modal-text-color);
}
.carousel-item img{
  border-radius: 1em;
}
#carouselExampleSlidesOnly .carousel-inner{
  aspect-ratio: 2 / 1;
}
.home .modal-body h6{
  color:var(--modal-text-tel-color);

}
.text_contents{

  
  background-color: #3f73aa5e;
}
.text_contents{
  padding: 0.7em;
  font-size: 1rem;
  font-style: italic;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}

.accordion-button{
  background-color:rgb(201, 205, 230);
  
}



.home .modal_footer .btn .btn-outline-warning{
  transform: translateY(-.2rem);
}
.home iframe{
  border-radius: 1em;
  border: 0; /* Equivalent to frameborder="0" */
  overflow: hidden;
  width:100%;
}



@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0.75; }
  50% { opacity: 0.50; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}
/* reviews */
.glow-paragraph {
  animation: glow 4s;
}

@keyframes glow {
  0% {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
  }
  100% {
    color: inherit;
    text-shadow: none;
  }
}


.reviews-container .col-lg-4 .card{
  border-radius: 5em;
  background-color: rgba(240, 240, 243, 0.105);
  backdrop-filter: blur(30px);

}
.five_star{
  width: 6em;
  position: relative;
  
  top:-1em;

}
.card-img-bottom{ /* reviews img */
  width:90px;
  border: 2px solid rgb(215, 212, 212);
  background-color: #000;

  
}
blockquote p{
  text-align: left;
  color:var(--modal-text-color);
  padding: 0.5em;
  font-size: smaller;
  text-shadow:1px 1px 1px #4c4d4e;
}
.blockquote-footer{
  color:var(--modal-text-color);
  text-shadow:1px 1px 1px #4c4d4e;
}
/* choose us */
svg{
  width: 4em;
  height: 5em;
  padding:0.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 5em;

  box-shadow: inset -1px -1px 10px 2px rgba(78, 78, 78, 0.201);
}


.why_choose {
  text-align: center;
  
  
  background-image: url("/static/images/background/wavy3.png");
  background-position:top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #334b3383;
  
  
}
.why_choose h2{
  color:var(--modal-text-color);
  padding: 1em;
}
.why_choose .row{
  text-align: left;
  justify-content: center;
  align-items: center;
  
  padding: 1.2em;
}

.home #submitBtn {
  margin: 0 20%;
  border:2px solid #09060c;
}

/* footer style */
/* Footer Styles */
.main_footer {
  background-color: #16463a; /* Dark green blue background */
  background-color: #332449;
  padding: 20px 0; /* Adjust padding as needed */
}

.footer-link {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}

.footer-link:hover {
  color: #ccc; /* Lighter text color on hover */
}

.separator {
  margin: 0 10px; /* Adjust margin as needed */
  color: #fff; /* White color */
}

.separator span {
  font-size: 18px; /* Adjust font size as needed */
}

.social-media a {
  color: #000; /* Black icon color */
  text-decoration: none; /* Remove underline */
}

.neumorphic-icon {
  font-size: 24px; /* Adjust icon size as needed */
  color: #000; /* Black icon color */
  background-color: #fff; /* White background color */
  border-radius: 50%; /* Circle shape */
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.neumorphic-icon2 {
  font-size: 24px; /* Adjust icon size as needed */
  color: #000; /* Black icon color */
  background-color: #c0c543; /* White background color */
  border-radius: 50%; /* Circle shape */
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.neumorphic-icon-tel {
  font-size: 24px; /* Adjust icon size as needed */
  color: #ece8e8; /* Black icon color */
  background-color: #696666; /* White background color */
  border-radius: 0.5em;
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.neumorphic-icon:hover,.neumorphic-icon-tel:hover {
  background-color: #858080; /* Lighter background color on hover */
  
}

.neumorphic-icon2:hover {
  background-color: #858080; /* Lighter background color on hover */
  
}

/*explore page */
.explored{
  background-image: url("/static/images/background/explored2.jpg");
  background-position:top;
}
.card_contents{
  background-color: #16463a69;
  height: 10em;

}
.explored .card img{
  aspect-ratio: 2/2;
}

.explore_location{/* font of card body */
  color:var(--modal-text-color);
  text-shadow: 1px 1px gray;
  font-size: 1rem;
  font-style: italic;
}
.explored .justify-content-between{
  position: absolute;
  bottom: 0.3em;
  gap:160%;

}



.error_explore .alert ul{
  list-style-type: none;
  text-decoration: none;

  font-weight: 600;

  list-style-type: none; /* Remove bullets */
  
}

  



/* login page*/

.login{
  background-image: url("/static/images/background/login.jpg");
  background-size: cover;
  background-position: center;
}
/* sign up page*/
.signup{
  background-image: url("/static/images/background/signup2.jpg");
  background-size: cover;
  background-position: center;
}
 /* CSS for the glassmorphism effect */
 .glassmorphism {
  background: rgba(255, 255, 255, 0.15); /* Background color with opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px; /* Border radius */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Border color with opacity */
  padding: 20px; /* Padding */
}

/* CSS for the form border */
.form-container {
  border: 2px solid rgba(255, 255, 255, 0.2); /* Border color with opacity */
  border-radius: 10px; /* Border radius */
  padding: 20px; /* Padding */
}


/* about heading */
.about .p-2{
  font-family: var(--font-Amu-family);
  font-size: 2.1em;
}
.about .first_row{
  background-color: #510451;

}

/*login sign up */
.login h2{
  font-family: var(--font-Amu-family);
  font-size: 1.7em;
  
}
.login .pb-1{
  font-family: var(--font-Amu-family);
  font-size: 1em;
}
.signup h2{
  font-family: var(--font-Amu-family);
  font-size: 1.7em;
  
}
.signup label{
  font-family: var(--font-Amu-family);
  font-size: 0.9em;
  
}

/* contact us page */
.contact_us {
  font-family: var(--font-Amu-family);
  color:rgb(44, 39, 39);
  
 
  background: rgb(114, 99, 125) ;
/*   background: linear-gradient(355deg, rgb(51 36 73) 4%, rgba(186,91,200,1) 63%, rgb(139 207 207) 98%);
 */  background: linear-gradient(355deg, rgb(51 36 73) 4%, rgb(65 61 65) 63%, rgb(139 207 207) 98%);
  
  
}
.contact_us .content{

  background-image: url('/static/images/background/contact_us4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2200px 600px;


}
.contact_us iframe{
  border-radius: 1em;
  border: 0; /* Equivalent to frameborder="0" */
  overflow: hidden;
  width:100%;
}
.contact_us h1{
  text-shadow: 1px 1px 1px rgb(111, 77, 111);
  font-size: xxx-large;
  font-weight: 600;
  
  
}
.contact_us .card{
  color:var(--modal-text-color);
  text-shadow: 1px 1px 1px rgb(91, 89, 89);
  background-color: #117074d6;
  min-height: 8.7em;
  line-height:2em ;
}
.contact_us .card i{
  color:rgb(81, 7, 139);
  font-size:x-large;
  
}
.contact_us h2{
  border-bottom: 1px solid rgb(191, 195, 199);
  font-size: 1.3em;
  
}
/* eplored page*/
.explored .modal{
  z-index: 1060;
}

/* wished page*/
.wished .content{
  min-height: 70vh;
  
}
/* .wished {
  
  
} */
.reset_pass {
  background-image: none !important;
  background-color: #815eb6;
}

.main_footer .footer-link:hover{
  color:rgb(115, 215, 231);
}

.main_footer .active{
  color:rgb(115, 215, 231);
  font-weight: 500;
  text-decoration:rgb(115, 215, 231) solid underline 0.1em;
  text-underline-offset:0.14em;
}

/* terms page  */
.terms body{
  background-color: #b8cbe0;
 
  padding:1em;
  
}
.terms .content{
  padding-top:1.6em ;
  
  background-image: url("/static/images/background/ourapp.jpg");
  background-size: cover;
  background-position:80% 60%;
}
.terms .haeding-part{
  background-color: #d8d7b683;
  position: relative;
  
  
}
.terms .haeding-part h1{
  color: #23456a;
  padding-top: 1em;
  padding-bottom: 1em;
}
.terms section{
  background-color: #d8d7b683;
  padding: 1em;
}


.privacy .content{
  padding-top: 1.6em;
  background-color: white;

}
.privacy .haeding-part{
  background-color: #d8d7b683;
  
  
}
.privacy h1{
  color: #23456a;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
}
.privacy .haeding-part i{
  font-size: xxx-large;
  color:#000;
}
.privacy section{
  background-color: #d8d7b683;
  padding: 1em;
}


@media screen and (min-width: 300px) and (max-width: 550px) {
  .col-lg-4 .card{/* middle card reviews */
    position: relative ;
    top: 0 !important;
  }
/*hero part */


.hero_bg{
  position: relative;
    background-image:url("/static/images/background/bg131.jpg");
    /* background-position: right; */
    background-size: cover;
    background-repeat: no-repeat;

    /* border-bottom-right-radius: 2em;
    border-bottom-left-radius:2em ;
    border-radius: 1em; */
    background-color: aqua;

   
}
.hero_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 900; /* Ensure the overlay is below the text */
}

  .hero_texts{
    position: relative;
    
      z-index: 900; /*  text appears above  */
      color: #ffffff;
   
    
  }
  
  
   .display-4{
    color:#f7f7f6;
    color:var(--modal-text-color);
    padding:0.2em;
    text-shadow: 2px 2px rgb(95, 91, 91);
    font-weight: 900;
    font-size: 2em;
   
    
    
   }

   .lead{
    position: relative;
    
    color:#34f4f4;
    
    font-weight: 700;
    font-size: larger;
    text-shadow: 1px 1px #605f5e;
    filter: drop-shadow(0 0 0.75rem rgba(55, 14, 22, 0.838));
    
    padding: 1em;
  }

  .lead_arrow{
    font-size: x-large;color: #ded9d9;
    background-color: #ffffff38;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }



  .travel-package{margin-bottom: 0.7em;}
  

/*   show more button
 */

 .show-more-btn{
  width: auto !important;
  

 }
  /*review star */
  .five_star{
    width: 6em;
    position: relative;
    left: 36%;
    top:-1em;
  
  }
  .reviews-container .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .reveiw-rows{
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding-left: 0.5em !important;
    padding-right: 0 !important;
    width: 103%;

  }

  
  
  /* form style to create own desire */
.whole_form{
  padding-top: 0.5em;
  padding-bottom: 1em;
  background: rgba(115, 126, 140, 0.833);
  background: linear-gradient(185deg, rgba(115, 126, 140, 0.842) 7%, rgba(125, 162, 205, 0.891) 41%, rgba(192, 224, 187, 0.849) 100%);
}

/* for about page imgs*/
.img-circle{
  width: 98% !important;
}

/* login page */
.login .col-md-6{
  width: 100% !important;
}
.login footer{
  position:fixed;
  bottom:0;
  width: 100%;
}
.reset_pass footer{
  position:fixed;
  bottom:0;
  width: 100%;
}
    

.call_us{
  display: none !important;
}

.why_choose .card {
  margin-bottom: 0.4em;

}


/* explored */
.explored .justify-content-between{
  position: absolute;
  bottom: 0.3em;
  gap:3em;

}
    
    
  }


  @media screen and (min-width: 500px) and (max-width: 2800px) {
    .hero-container{
      padding-top: 1em !important;
      padding-bottom: 5em;
      margin-bottom: 1em;
    }
    
    .hero_bg{
      /* background-image:url("/static/images/background/night_bg.jpg"); */
      /* background-position: right; */
      background-size: cover;
      background-repeat: no-repeat;
  
      /* border-bottom-right-radius: 2em;
      border-bottom-left-radius:2em ;
      border-radius: 1em; */
      background-color: rgba(0, 255, 255, 0);

  }

  /*for main slid page */
  .carousel-inner {
    aspect-ratio: 3/2;
  }
.carousel-item,.carousel-item.active{
  position: relative;
}
  .carousel-item img{
    
    border-radius: 2em;
  }
  .carousel-caption {
    top:25% !important;
    

  }

  .carousel-caption .display-4{
    color:var(--modal-text-container) !important;
    filter: drop-shadow(0 0 0.75rem rgba(55, 14, 22, 0.838));
    text-shadow: 1px 1px black;
    font-weight: 500;

    --bs-bg-opacity: 0.3;
  }
  .carousel-caption .lead {
    background-color: #0000004a;
    filter: drop-shadow(0 0 0.75rem rgba(55, 14, 22, 0.838));
    text-shadow: 1px 1px black;
    font-weight: 600;
    font-size: 1.6em;
    
    
}

.home .alert-danger{
  width: 50%;
  
}




  .card-img-bottom{ /* reviews img */
    width:90px;
    border: 2px solid rgb(215, 212, 212);
    background-color: #000;

  }
    
    /* container for cards */
    body > div > div.container.mt-5 > div{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

    

    justify-content: center;
    gap:1em;
    padding: 1rem;

   
    }

    .hover-effect:hover{
      
      box-shadow: 5px 5px 2px rgba(128, 128, 128, 0.681);
      cursor: pointer;
      
    }

    /* custemer reviews */
    .reviews-container {
      text-align: center;
      
      padding-left: 0;  /* Remove left padding */
      padding-right: 0;  /* Remove right padding */
      margin-left: 0;  /* Remove left margin */
      margin-right: 0;  /* Remove right margin */
      /*
      background-color: #9d351865;   Set background color 
      background-color: rgba(149, 146, 146, 0.55);*/
      margin-bottom: 0;

      height: 700px;
  }
  .blockquote-footer{
    color:var(--modal-text-color);
    text-shadow:1px 1px 1px #4c4d4e;
  }
  blockquote p{
    text-align: left;
    color:var(--modal-text-color);
    padding: 0.5em;
    font-size: smaller;
  }

  /* choose us */
  svg{
    width: 4em;
    height: 5em;
    padding:0.5em;
  }
  






    .whole_form{
      margin: 0 auto;
      display: flex;
      width: 100%;
     
      padding:3em;
      background: rgba(115, 126, 140, 0.157);
background: linear-gradient(185deg, rgba(115, 126, 140, 0.398) 7%, rgba(125, 162, 205, 0.394) 41%, rgba(192, 224, 187, 0.177) 100%);
    }



    .whole_form{
      margin: 0 auto;
      display: flex;
      width: 100%;
      
      padding:3em;
      background: rgb(115,126,140);
/* background: linear-gradient(185deg, rgba(115, 126, 140, 0.186) 7%, rgba(125, 162, 205, 0.293) 41%, rgba(192, 224, 187, 0.243) 100%);
 */background: linear-gradient(185deg, rgb(6 26 8 / 37%) 7%, rgb(125 162 205 / 31%) 41%, rgb(33 27 52) 100%);
    }
    .whole_form form{
      border:1px solid var(--modal-text-color);
      padding:2em;
      background-color: #dedbdb63;
      backdrop-filter: blur(12px);
      width: 50%;
      border-radius: 2em 5em;
      
      
    }


    
    .neumorphic-icon3 {
      color:rgb(85, 85, 85);
      width: 60px; /* Adjust size as needed */
      height: 60px; /* Adjust size as needed */
      border-radius: 1em; /* Make it circular */
      background: #f0f0f0; /* Base color */
      box-shadow: 5px 5px 15px #b8b8b8, -5px -5px 15px #ffffff; /* Soft shadows for depth */
      /* box-shadow: inset 5px 5px 8px #b8b8b8, -5px -5px 15px #ffffff; Soft shadows for depth */

      display: flex;
      
      justify-content: center;
      align-items: center;
    }

    /* about page wrap */
    
   .img_p{
    flex-wrap: nowrap !important;
   }


   @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(22px); /* Optional:  vertical translation */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card {
    animation: fade-in 0.3s ease-in-out; /* Adjust duration and timing function as needed */
  }
  .card.in-view {
    animation: fade-in 0.2s ease-in-out; /* Same animation as before */
  }
  
.home #features .card{
  border-bottom-style: double;
    border-bottom-width: thick;
    border-right-width: medium;
    border-color: #0e0e2c4f;
}



  .login .content{
    min-height: 75vh !important;
  }
  .reset_pass .content{
    min-height: 75vh !important;
  }
   
  .call_us{
    position: fixed;
    top: 80%;
    right: 0;
  }
  .call_us img{
    width: 320px;
  }
  
    

   
  }
  @media screen and (min-width: 500px) and (max-width: 1025px) {
    .col-lg-4 .card{ /* middle card reviews */
      position: relative ;
      top: 0 !important;
    }
    
    /* custemer reviews */
    .reviews-container {
      height: auto !important;
    }
      
  
    /* choosing us */
    .col-md-4 {
      flex: 0 0 auto;
      width: 42.33333333%;
  }
  
  .whole_form form {
    width:85%;
  }
  /* about us  */
  .img_p{
    display: block !important;
  }

  /*login page height */

  
  .login .col-md-6{
    width: 70% !important;
  }



  .contact_us h1{
    text-shadow: 1px 1px 1px rgb(111, 77, 111);
    font-size: xxx-large;
    font-weight: 600;
    background-color: rgba(161, 148, 129, 0.841);
    padding: 0.2em;
    
  }

  .signup .content{
    min-height: 71vh;
  }
      
    }


