:root {
  --modal-bg-color: #007bff; /* Define a root variable for the primary color */
  --modal-text-tel-color:red;
  --modal-text-color:pink;
  --modal-border:blue;
  --modal-border-top:violet;
}
body{
  background-color: var(--modal-bg-color);
  background-image: url("/static/images/background/night_main11.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  
}


.navbar{
  background-color: rgb(101, 107, 107);
}
.offcanvas-start.show{
  background-color: aqua;
}
.logo_nav_main{
    
    
    background-image: url("/static/images/background/logonav11.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 80px;
}

 header{
  position:sticky;
  top: 0;
  z-index: 1;
  

 }



.hero_bg{
    background-image:url("/static/images/background/bg131.png");
    /* background-position: right; */
    background-size: contain;
    background-repeat: no-repeat;

    /* border-bottom-right-radius: 2em;
    border-bottom-left-radius:2em ;
    border-radius: 1em; */
    background-color: aqua;

   
}

.hero_bg2 {
  background-image: url("/static/images/background/lg142.png");
  background-position: left; /* Or adjust as needed */ 
  background-size: cover; /* Or adjust as needed */
  background-repeat: no-repeat;
}
/* Apply both classes to the desired element */
.hero-container {
  width: 100%;
  height: 90%; /* Adjust as needed */
 
  /* ... other styles */
}

.hero-container.hero_bg,
.hero-container.hero_bg2 {
  /*position:fixed;  Or relative if desired */
  top: 7;
  left: 0;
  width: 100%;
  height: 90%;
  margin: auto;
}

/* features ##########  */



.move_down{
    margin-top: 3rem;
}






/* like button icon */

.liked {
  /* Style for the liked state */
  color: red; /* Your preferred color */
}
.noliked{
  color: #ccc;
}
/* cards */
.card{
  background-color: rgba(128, 128, 128, 0.225);
  backdrop-filter: blur(12px);
}

.bd-placeholder-img { /* images aspect */
  aspect-ratio: 2;
}
.btn-outline-success{
  margin-left: 3em;
  border-radius: 2em;
}
.show-more-btn{
  border-radius: 2em;
  position: relative;
  left:50%;
  
}
.fw-lighter{/* text in card for reviews */
  font-size: 14px !important;
}
/* form style */
.whole_form select,input[type=text],input[type=number]{
  border-radius: 1em;
}
.whole_form label{
  padding: 0.7em;
  font-size: 1rem;
  font-style: italic;
}
.whole_form h2{
  padding: 0.7em;
  font-size: 1.5rem;
  font-style: italic;
}


/* modal stuff ########### */
/* carousel inside modal for images  */
:root {
  --modal-bg-color:linear-gradient(to right bottom, hsl(236, 50%, 50%), hsl(195, 50%, 50%)); /* Define a root variable for the primary color */
  --modal-bg-color2:radial-gradient(farthest-corner circle at 100% 0%, #00a3ff 0%, #bd2eb3 100%);
  --modal-bg-color3:linear-gradient(185deg, rgba(125,162,205,1) 9%, rgba(66,130,205,1) 78%, rgba(196,210,203,0.9931431190640319) 99%);
  --modal-text-tel-color:rgba(160, 243, 35, 0.902);
  --modal-text-container:rgb(236, 202, 11);
  --modal-text-color:hsl(0, 0%, 100%);
  --modal-border:blue;
  --modal-border-top:violet;
}
/* background-color: var(--primary-color); */
.modal-title{
  color:var(--modal-text-container);
}
.modal-content{
  background-color:var(--modal-bg-color) !important;
  background-image: var(--modal-bg-color);
  color:var(--modal-text-color);
}
.carousel-item img{
  border-radius: 1em;
}
.carousel-inner{
  aspect-ratio: 2 / 1;
}
.modal-body h6{
  color:var(--modal-text-tel-color);

}
.text_contents{

  
  background-color: #3f73aa5e;
}
.text_contents{
  padding: 0.7em;
  font-size: 1rem;
  font-style: italic;
}

.blink {
  animation: blink 1s steps(1, end) infinite;
}
.modal_footer .btn .btn-outline-warning{
  transform: translateY(-.2rem);
}
iframe{
  border-radius: 1em;
}


@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0.75; }
  50% { opacity: 0.30; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}
/* reviews */
.col-lg-4 .card{
  border-radius: 5em;
}

/* choose us */
svg{
  width: 4em;
  height: 5em;
  padding:0.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 5em;

  box-shadow: inset -1px -1px 10px 2px rgba(78, 78, 78, 0.201);
}



/* footer style */
/* Footer Styles */
body > footer {
  background-color: #27317f; /* Dark blue background */
  padding: 20px 0; /* Adjust padding as needed */
}

.footer-link {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}

.footer-link:hover {
  color: #ccc; /* Lighter text color on hover */
}

.separator {
  margin: 0 10px; /* Adjust margin as needed */
  color: #fff; /* White color */
}

.separator span {
  font-size: 18px; /* Adjust font size as needed */
}

.social-media a {
  color: #000; /* Black icon color */
  text-decoration: none; /* Remove underline */
}

.neumorphic-icon {
  font-size: 24px; /* Adjust icon size as needed */
  color: #000; /* Black icon color */
  background-color: #fff; /* White background color */
  border-radius: 50%; /* Circle shape */
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.neumorphic-icon-tel {
  font-size: 24px; /* Adjust icon size as needed */
  color: #ece8e8; /* Black icon color */
  background-color: #696666; /* White background color */
  border-radius: 0.5em;
  padding: 10px; /* Adjust padding as needed */
  margin-right: 10px; /* Adjust margin as needed */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.neumorphic-icon:hover,.neumorphic-icon-tel:hover {
  background-color: #858080; /* Lighter background color on hover */
  
}




@media screen and (min-width: 300px) and (max-width: 550px) {
  .col-lg-4 .card{/* middle card reviews */
    position: relative ;
    top: 0 !important;
  }
  
    
    
  }

@media screen and (min-width: 500px) and (max-width: 1025px) {
  .col-lg-4 .card{ /* middle card reviews */
    position: relative ;
    top: 0 !important;
  }
  
  /* custemer reviews */
  .reviews-container {
    height: auto !important;
  }
    

  /* choosing us */
  .col-md-4 {
    flex: 0 0 auto;
    width: 42.33333333%;
}
    
  }
  @media screen and (min-width: 500px) and (max-width: 1900px) {
    .hero_bg{
      background-image:url("/static/images/background/night_bg.jpg");
      /* background-position: right; */
      background-size: cover;
      background-repeat: no-repeat;
  
      /* border-bottom-right-radius: 2em;
      border-bottom-left-radius:2em ;
      border-radius: 1em; */
      background-color: aqua;

  }


  .card-img-bottom{
    width:90px;
    border: 2px solid rgb(19, 17, 17);
    background-color: #000;
    
    
  }
    
    /* container for cards */
    body > div > div.container.mt-5 > div{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

    

    justify-content: center;
    gap:1em;
    padding: 1rem;

   
    }
    /* custemer reviews */
    .reviews-container {
      text-align: center;
      
      padding-left: 0;  /* Remove left padding */
      padding-right: 0;  /* Remove right padding */
      margin-left: 0;  /* Remove left margin */
      margin-right: 0;  /* Remove right margin */
      background-color: #9d351865;  /* Set background color */
      background-image: url("/static/images/background/review_bg.webp");
      backdrop-filter: blur(1000px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      margin-bottom: 0;

      height: 700px;
  }
  .blockquote-footer{
    color:var(--modal-text-color);
  }

  /* choose us */
  svg{
    width: 4em;
    height: 5em;
    padding:0.5em;
  }
  






    .whole_form{
      margin: 0 auto;
      display: flex;
      width: 100%;
      border:1px dotted red;
      padding:3em;
      background: rgb(115,126,140);
background: linear-gradient(185deg, rgba(115,126,140,1) 7%, rgba(125,162,205,1) 41%, rgba(192,224,187,0.9931431190640319) 100%);
    }



    .whole_form{
      margin: 0 auto;
      display: flex;
      width: 100%;
      border:1px dotted red;
      padding:3em;
      background: rgb(115,126,140);
background: linear-gradient(185deg, rgba(115,126,140,1) 7%, rgba(125,162,205,1) 41%, rgba(192,224,187,0.9931431190640319) 100%);
    }
    .whole_form form{
      border:1px solid var(--modal-text-color);
      padding:2em;
      background-color: #dedbdb63;
      backdrop-filter: blur(12px);
      width: 50%;
      border-radius: 2em 5em;
      
      
    }


    
    .neumorphic-icon3 {
      color:rgb(85, 85, 85);
      width: 60px; /* Adjust size as needed */
      height: 60px; /* Adjust size as needed */
      border-radius: 1em; /* Make it circular */
      background: #f0f0f0; /* Base color */
      box-shadow: 5px 5px 15px #b8b8b8, -5px -5px 15px #ffffff; /* Soft shadows for depth */
      /* box-shadow: inset 5px 5px 8px #b8b8b8, -5px -5px 15px #ffffff; Soft shadows for depth */

      display: flex;
      
      justify-content: center;
      align-items: center;
    }
    
   
    
    
   
  
    

   
  }
  