

.hero_bg{
    background-image:url("/static/images/travel_packages/3bb07ba3971afb2fhelsinki1.jpg");
    border-bottom-right-radius: 2em;
    border-bottom-left-radius:2em ;
    border-radius: 1em;

   
}
.search_form{
    width: 100%;
    margin: 0 auto;
    height: 4em;
}
/* features ##########  */
.card-group .card{
    margin:4%;
    border-radius: 2em;
}
.card-group .card img{
    
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
}



.move_down{
    margin-top: 3rem;
}


@media screen and (min-width: 500px) and (max-width: 1000px) {
   
    body{
        width: 60%;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 1300px) {
   
    .search_form{
        width: 55%;
        margin: 0 auto;
        
    }
    body{

        width: 90%;
    }
  }
  