{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block class %}about{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row first_row ">
        <div class="col-md-8 offset-md-2">
            <div class="section-header">
                
                <div class="img_pp d-flex flex-wrap ">
                <img src="/static/images/background/ourvision.png" class="img-fluid" alt="Our Vision" class="img-circle w-50 ">
                <p class="about_p p-4 bg-white fw-medium  ">Our vision is to become the leading provider of sustainable travel solutions, empowering individuals to explore the world responsibly and make meaningful connections with diverse cultures and environments. We aspire to inspire a global community of travelers committed to preserving the planet and promoting positive social change through their journeys.</p>
            </div>
                </div>
        </div>
    </div>
    <div class="row  bg-warning ">
        <div class="col-md-8 offset-md-2">
            <div class="section-header">
                <h2 class="p-2">Our Approach</h2>
                <div class="img_p d-flex flex-wrap ">
                <img src="/static/images/background/hero3.png" alt="Our Approach" class="img-circle  w-50 h-25">
                <p class="about_p p-4 bg-white fw-medium">Our approach is centered around fostering collaboration, innovation, and inclusivity. We believe in creating customized travel experiences that prioritize authenticity, sustainability, and social responsibility. By engaging with local communities, supporting eco-friendly practices, and advocating for cultural preservation, we aim to create a more interconnected and sustainable world.</p>
            </div>
            </div>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-md-8 offset-md-2">
            <div class="section-header">
                <h2 class="p-2">Our Process</h2>
                <div class="img_p d-flex flex-wrap ">
                <img src="/static/images/background/bg12.jpg" alt="Our Process" class="img-circle  w-50 h-25">
                <p class="about_p px-4 py-1 bg-white fw-medium " >Our process involves meticulous planning, attention to detail, and continuous improvement. From conceptualization to execution, we strive for excellence in every aspect of our operations, ensuring memorable and transformative travel experiences for our clients. By leveraging technology, expertise, and feedback from our community, we adapt and evolve our services to meet the evolving needs and expectations of modern travelers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
   

  
{% endblock %}
