{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block class %}account{% endblock %}
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 user_info glassmorphism">

        <form method="POST" enctype="multipart/form-data">
            {{ user_image_form.csrf_token }}
            
          <div class="mb-3">
            {{ user_image_form.image.label }} <br>
            {{ user_image_form.image }}
           
            {% if user_image_form.image.errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in user_image_form.image.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% if current_user_image1 %}
          <img src="/static/{{ current_user_image1 }}" class="rounded-circle" alt="Profile Image" width="130" height="130">
          {%else%}
          <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" class="rounded-circle" alt="Profile Image" width="130" height="130">
           {%endif%}
          <button type="submit" class="btn btn-primary rounded-pill">Upload new image</button>
        </form>
       
<br><img src="/{{ user_image.image_path }}" class="card-img-top" alt="Destination Image">
            <h2>User Information</h2>
      <p>Email: {{ user.email }}</p>
      
    </div>
  </div>
</div>

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-6">
      <h2>Wished Holidays Submitted</h2>
      {% if wishes %}
        <ul class="list-group justify-content-between">
          {% for wish in wishes %}
            <li class="list-group-item fw-semibold ">- type of holiday : {{ wish.holiday_type }} <br>- duration: {{ wish.travel_duration }} <br>- price range: {{ wish.price_range }}
              <form method="post" action="{{ url_for('delete_wished', wishedholiday_id=wish.id) }}">
                <input type="hidden" name="_method" value="DELETE"> 
                <button type="submit" class="btn m-1 btn-outline-danger rounded-pill ">Delete</button>
            </form>
          
            <!-- Add more details as needed -->
          {% endfor %}
        </ul>
      {% else %}
        <p>No wished holidays found.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}