<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery and Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/ecedfde1ad.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/styles.css')}}" rel="stylesheet" >
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/background/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/background/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/background/favicon-16x16.png">
<link rel="manifest" href="/static/images/background/site.webmanifest">
    <title>{% block title %}Your Travel App{% endblock %}</title>
    
</head>
<body id="top" class="d-flex flex-column min-vh-100 mx-auto {% block class %}Your{% endblock %}">

    <!-- Header -->
    <header >
        <!-- Bootstrap Navbar -->
        <nav class="navbar navbar-expand-md navbar-light ">
          <div class="container-fluid">
              <a class="navbar-brand d-flex align-items-center me-auto" href="{{ url_for('home') }}">
                <div class="logo_nav_main"></div> <!-- Placeholder for initial logo -->
                <img src="/static/images/background/travel_app7.jpg" alt="travel app logo" class="logo-hover">
            </a>
              <button class="navbar-toggler order-lg-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                      <ul class="navbar-nav me-auto mb-lg-0">
                          
                          <li class="nav-item">
                              <a class="nav-link nav-lik-1 ms-2 mt-2" href="{{ url_for('explore') }}">Explore</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link nav-lik-1 ms-2 mt-2" href="{{ url_for('about') }}">About us</a>
                        </li>
                      </ul>
                      <!-- User authentication links -->
                      <ul class="navbar-nav">
                          {% if current_user.is_authenticated %}
                          <li class="nav-item">
                              <a class="nav-link " title="Log out " href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket neumorphic-icon-nav "></i></a>
                          </li>
                          {% else %}
                          <li class="nav-item">
                              <a class="nav-link" title="Login" href="{{ url_for('login') }}"><i class="fa-solid fa-right-to-bracket neumorphic-icon-nav "></i></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" title="Sign up" href="{{ url_for('signup') }}"><i class="fa-solid fa-user-plus  neumorphic-icon-nav "></i></a>
                          </li>
                          {% endif %}
                          {% if current_user.is_authenticated %}
                          <li class="nav-item">
                              <span class="nav-link"><i class="fa-solid fa-user neumorphic-icon-nav "></i> Hi, {{ current_user.username }}</span>
                          </li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
      
    </header>

    

    <!-- Main Content -->
    
        
   
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class=" main_footer mt-4 bg-darkblue">
        <div class="container text-center">
            <!-- Links and Info -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href=# class="footer-link">About Us</a></li>
                <li class="list-inline-item separator"><span>|</span></li>
                <li class="list-inline-item"><a href=# class="footer-link">Contact</a></li>
                <li class="list-inline-item separator"><span>|</span></li>
                <li class="list-inline-item"><a href=# class="footer-link">Terms</a></li>
                <li class="list-inline-item separator"><span>|</span></li>
                <li class="list-inline-item"><a href=# class="footer-link">Privacy Policy</a></li>
            </ul>
            <p class="text-white">"© 2024 Travel App. All rights reserved."</p>
            <div class="contact-info my-3 text-white">
                <a href="tel:+11234567890"><i class="fas fa-phone neumorphic-icon-tel"></i> <span class="text-white">+1 (123) 456-7890</span></a>
            </div>
            <!-- Social Media Links -->
            <div class="social-media">
                <a href="#" target="_blank"><i class="fab fa-facebook neumorphic-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter neumorphic-icon"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram neumorphic-icon"></i></a>
            </div>

             <!-- Contact Telephone -->
        
        </div>
        <a href="#top" title="top of page" ><i class="fa-solid fa-arrow-up neumorphic-icon"></i></a>
    </footer>
    

    <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    <!--  Add your common scripts here -->
    <script src="{{url_for('static',filename = 'js/scripts.js')}}"></script>

</body>

</html>
