<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery and Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename ='css/styles.css')}}" rel="stylesheet" >
    <title>{% block title %}Your Travel App{% endblock %}</title>
    
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Header -->
    <header>
        <!-- Bootstrap Navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('home') }}">Your Travel App</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                  </li>
                </ul>
                <form class="d-flex" role="search" action="{{ url_for('search') }}" method="post">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <!-- Main Content -->
    
        
   
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="mt-auto bg-light">
        <div class="container">
            <!-- Links and Info -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href=#>About Us</a></li>
                <li class="list-inline-item"><a href=#>Contact</a></li>
                <li class="list-inline-item"><a href=#>Terms</a></li>
                <li class="list-inline-item"><a href=#>Privacy Policy</a></li>
            </ul>
            
            <!-- Social Media Links -->
            <div class="social-media">
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    <!--  Add your common scripts here -->
    <script src="{{url_for('static',filename = 'js/scripts.js')}}"></script>

</body>

</html>
