{% extends "base.html" %}
{% block title %}Edit Destination{% endblock %}
{% block content %}
    <h2>Edit Destination</h2>
    <form id="editDestinationForm" enctype="multipart/form-data" class="mx-auto" action="{{ url_for('edit_destination', destination_id=destination.id) }}" method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
                <!-- Add your form fields here -->
                <label for="editDestinationName">Destination Name:</label>
                <input type="text" name="name" id="editDestinationName" class="form-control" value="{{ destination.name }}">
                <label for="editDestinationLocation">Destination Location:</label>
                <input type="text" name="location" id="editDestinationLocation" class="form-control" value="{{ destination.location }}">
                <!-- Add more fields as needed -->
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </form>
{% endblock %}
