{% extends "base.html" %}
{% block title %}Edit Destination{% endblock %}
{% block content %}
<div class="whole_form mx-auto">
    <h2 >Edit Destination</h2>
    <form id="editDestinationForm" enctype="multipart/form-data" class="mx-auto" action="{{ url_for('edit_destination', destination_id=destination.id) }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
                <!-- Add your form fields here -->
                <label for="editDestinationName">Destination Name:</label>
                <input type="text" name="name" id="editDestinationName" class="form-control" value="{{ destination.name }}">
                <label for="editDestinationLocation">Destination Location:</label>
                <input type="text" name="location" id="editDestinationLocation" class="form-control" value="{{ destination.location }}">
                <!-- <label for="image">Update Image:</label>
                <input type="file" name="image" id="newDestinationImage" class="form-control" value="destination.image"> -->

                <input type="hidden" name="current_image" value="{{ destination.image }}">
            
            <!-- Display the current image -->
            {% if destination.image %}
            <img src="/{{ destination.image|replace('\\', '/') }}" alt="Current Destination Image" class="img-fluid mb-2 rounded border"style="max-width: 14rem;" >

            {% endif %}
            
            <!-- File input field for updating the image -->
            <br>
            <label for="image">Update Image:</label>
            <input type="file" name="image" id="newDestinationImage" class="form-control">


                <button type="submit" class="btn btn-success">Save Changes</button>
                <a class="btn btn-primary"   href="{{url_for('explore')}}" role="button" >Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
