{% extends "base.html" %}
{% block title %}Explored page{% endblock %}
{% block class %}explored{% endblock %}
{% block content %}
<!-- Main Content -->
<div class="container mt-5">
    <h2 class="mb-4 fira-code-h2">Your Destinations</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="border shadow p-4 alert-info fs-4 text-success bg-dark-subtle rounded" role="alert">
                On this page, you can add information about your destination, including the destination name, location, and upload an image of your trip. You can only delete and edit the information for your own travel adds.
                <a href="#add_dest">ADD</a>
            </div>
        </div>
    </div>

    <!-- List/Grid of User's Submitted Destinations -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for destination in  all_destinations %}
            <div class="col mb-4">
                <div class="card shadow">
                    
                    <img src="/{{ destination.image | replace('\\', '/') }}" class="card-img-top" alt="Destination Image">
    
                    <div class="card-body card_contents ">
                        <!-- <button id="likeButton" data-destination-id="{{ destination.id }}">Like</button> -->

                        <h5 class="card-title fira-code-h5">{{ destination.name|upper}}</h5>
                        <p class="card-text explore_location ">{{ destination.location }}</p>
                        <p class="card-text explore_location">{{ destination.description }}</p>
                        <!-- Edit and Delete Buttons (conditionally shown) -->
                        <div class="d-flex justify-content-between">
                            {% if current_user.is_authenticated and current_user.id == destination.user_id %}
                                <a href="{{ url_for('edit_destination', destination_id=destination.id)}}" class="btn btn-info">Edit</a>
                                <form method="post" action="{{ url_for('delete_destination', destination_id=destination.id) }}">
                                    <input type="hidden" name="_method" value="DELETE">  
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            {% else %}
                                <a href="#" class="btn btn-info disabled" aria-disabled="true">Edit</a>
                                <button class="btn btn-danger disabled" aria-disabled="true">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    <!-- Add New Destination Button (conditionally shown) -->
    {% if current_user.is_authenticated %}
        <div class="text-center mt-4">
            <a class="btn btn-primary collapsed w-50 shadow-sm rounded-pill" id="add_dest" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Add New Destination
            </a>
        </div>

        <!-- Add New Destination Form (Initially Hidden) -->
        <div class="collapse text-center" id="collapseExample">
            
            <form id="addDestinationForm" enctype="multipart/form-data" class="mx-auto" action="{{ url_for('explore') }}" method="POST">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto glassmorphism">
                        <!-- Add your form fields here -->
                        <label class="fw-semibold py-2 mt-2" for="newDestinationName">Destination Name:</label>
                        <input type="text" name="name" id="newDestinationName" class="form-control rounded-pill">
                        <label class="fw-semibold py-2 mt-2" for="newDestinationLocation">Destination Location:</label>
                        <input type="text" name="location" id="newDestinationLocation" class="form-control rounded-pill">
                        <label class="fw-semibold py-2 mt-2" for="newDestinationDescription">Description:</label>
                        <textarea name="description" id="newDestinationDescription" class="form-control rounded-pill"></textarea>
                        <!-- Add input field for image file -->
                        <label class="fw-semibold py-2 mt-2" for="newDestinationImage">Upload Image:</label>
                        <input type="file" name="image" id="newDestinationImage" class="form-control rounded-pill">
                        <!-- Add more fields as needed -->
                        <button type="submit" class="btn btn-success  my-4 w-50 shadow-sm rounded-pill">Add Destination</button>
                    </div>
                </div>
            </form>
            
            
        </div>
    {% else %}
    <div class="text-center mt-4">
        <a class="btn btn-primary w-50 rounded-pill"   href="{{url_for('login')}}" role="button"  aria-controls="collapseExample">
            <span id="addDestinationText">Add New Destination</span>
        </a>
    </div>
    {% endif %}
</div>



{% endblock %}



