{% extends "base.html" %}
{% block title %}Explored page{% endblock %}
{% block class %}explored{% endblock %}
{% block content %}
<!-- Main Content -->
<div class="container mt-5">
    <h2 class="mb-4 fira-code-h2">Your Destinations</h2>
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="border shadow p-4 fs-4 rounded" role="alert">
                On this page, you can add information about your destination, including the destination name, location, and upload an image of your trip. You can only delete and edit the information for your own travel adds.
                
            </div>
        </div>
    </div>

    <!-- List/Grid of User's Submitted Destinations -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for destination in  all_destinations %}
            <div class="col mb-4">
                <div class="card shadow">
                    
                    <img src="/{{ destination.image | replace('\\', '/') }}" class="card-img-top" alt="Destination Image">
    
                    <div class="card-body card_contents ">
                        <!-- <button id="likeButton" data-destination-id="{{ destination.id }}">Like</button> -->

                        <h5 class="card-title fira-code-h5">{{ destination.name|upper}}</h5>
                        <p class="card-text explore_location ">{{ destination.location }}</p>
                        <p class="card-text explore_location">{{ destination.description }}</p>
                        <!-- Edit and Delete Buttons (conditionally shown) -->
                        <div class="d-flex justify-content-between">
                            {% if current_user.is_authenticated and current_user.id == destination.user_id %}
                                <a href="{{ url_for('edit_destination', destination_id=destination.id)}}" class="btn btn-info">Edit</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal_{{ destination.id }}">Delete </button>
                            {% else %}
                                <a href="#" class="btn btn-info disabled" >Edit</a>
                                <button class="btn btn-danger disabled" aria-disabled="true">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
      <div class="modal fade" id="confirmDeleteModal_{{ destination.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-capitalize" id="destinationModalLabel_{{ destination.id }}">Confirm Delete</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item?
     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{{ url_for('delete_destination', destination_id=destination.id) }}">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              
            </div>
          </div>
        </div>
      </div>

            
        {% endfor %}
    </div>
    <!-- Add New Destination Button (conditionally shown) -->
    {% if current_user.is_authenticated %}
        <div class="text-center mt-4">
            <a class="btn btn-primary collapsed w-50 shadow-sm rounded-pill" id="add_dest" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Add New Destination
            </a>
        </div>
        <div class=" error_explore">
            {% if form.errors %}
            <div class="alert alert-danger w-50 mx-auto text-center ">
                <ul>
                    {% for field, errors in form.errors.items() %}
                        
                            <li> {{field}} field - {{ errors[0] }} , please check it</li>
                        
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
    
        </div>
        <!-- Add New Destination Form (Initially Hidden) -->
        <div class="collapse text-center" id="collapseExample">
            
            <form id="addDestinationForm" enctype="multipart/form-data" class="mx-auto" action="{{ url_for('explore') }}" method="POST">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto glassmorphism">
                        
                        <label class="fw-semibold py-2 mt-2" for="newDestinationName">Destination Name:</label>
                        <input type="text" name="name" id="newDestinationName" class="form-control rounded-pill">
                        <label class="fw-semibold py-2 mt-2" for="newDestinationLocation">Destination Location:</label>
                        <input type="text" name="location" id="newDestinationLocation" class="form-control rounded-pill">
                        <label class="fw-semibold py-2 mt-2" for="newDestinationDescription">Description:</label>
                        <textarea name="description" id="newDestinationDescription" class="form-control rounded-pill"></textarea>
                        <!-- input field  image file -->
                        <label class="fw-semibold py-2 mt-2" for="newDestinationImage">Upload Image(jpg):</label>
                        <input type="file" name="image" id="newDestinationImage" class="form-control rounded-pill">
                        <!-- more fields  -->
                        <button type="submit" class="btn btn-success  my-4 w-50 shadow-sm rounded-pill">Add Destination</button>
                    </div>
                </div>
            </form>
            
            
        </div>
    {% else %}
    
    <div class="text-center mt-4">
        <a class="mb-4 btn btn-primary w-50 rounded-pill"   href="{{url_for('login')}}" role="button" >
            <span id="addDestinationText">Add New Destination</span>
        </a>
    </div>
    {% endif %}
</div>



{% endblock %}



