{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block class %}reset_pass{% endblock %}
{% block content %}
<div class="container text-white">
    <div class="row justify-content-center move_down ">
        <div class="col-md-6 glassmorphism form-container">


    <h2>Reset Password Request</h2>
    <form method="POST" class="d-flex flex-column ms-4">
        
        {{ form.csrf_token }}
        {{ form.email.label(class_=" fs-5") }} {{ form.email(class_="rounded-pill w-100 p-2 mt-2") }}
        <button class="rounded-pill w-25 btn-outline-dark  mt-2 p-2" type="submit">Submit</button>
        <br>
    </form>


</div>
</div>
</div>

{% endblock %}
