{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block class %}reset_pass{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center move_down ">
        <div class="col-md-6 glassmorphism form-container">


    <h2>Reset Password Request</h2>
    <form method="POST">
        
        {{ form.csrf_token }}
        {{ form.email.label(class_="text-dark") }} {{ form.email(class_="rounded-pill") }}
        <button class="rounded-pill w-25 bg-dark p-2" type="submit">Submit</button>
        <br>
    </form>


</div>
</div>
</div>

{% endblock %}
