{% extends "base.html" %}
{% block title %}Signup page{% endblock %}
{% block class %}signup{% endblock %}
{% block content %}

<!-- Username Input -->
<!-- Email Input -->
<!-- Password Input -->
<!-- Confirm Password Input -->
<!-- Signup Button -->
<!-- Link to Login Page -->
<!-- Add your signup page content here -->



<div class="container">
  <div class="row justify-content-center move_down">
      <div class="col-md-6 glassmorphism form-container">
          <h2 class="text-center text-dark fw-semibold border-bottom border-info p-4 ">Sign Up</h2>

          {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="alert alert-danger" role="alert">
                      {{ messages[0] }}
                  </div>
              {% endif %}
          {% endwith %}

          <form action="{{ url_for('signup') }}" method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group mt-2">
                  <label class="fw-semibold" for="username">Username:</label>
                  {{ form.username(class="form-control form-control-lg mt-2 rounded-pill", size=30) }}
              </div>
              <div class="form-group mt-2">
                  <label class="fw-semibold" for="email">Email:</label>
                  {{ form.email(class="form-control form-control-lg rounded-pill", size=40) }}
              </div>
              <div class="form-group mt-2">
                  <label class="fw-semibold" for="password">Password:</label>
                  {{ form.password(class="form-control form-control-lg rounded-pill",minlength=8, required="required" size=30) }}
              </div>
              <div class="form-group mt-2">
                  <label class="fw-semibold" for="confirm_password">Confirm Password:</label>
                  {{ form.confirm_password(class="form-control form-control-lg rounded-pill", size=30,minlength=8, required="required") }}
              </div>
              <button type="submit"  class="btn w-50 shadow-sm rounded-pill btn-outline-dark fw-semibold btn-block my-4 mx-auto">Sign Up</button>
          </form>

          <p class="text-center fw-semibold ">Already have an account? <a class="bg-dark-subtle p-2" href="{{ url_for('login') }}">Log in here</a></p>
      </div>
  </div>
</div>



{% endblock %}