{% extends "base.html" %}
{% block title %}Terms{% endblock %}
{% block class %}terms{% endblock %}
{% block content %}

<div class="container haeding-part">
    <h1 class="text-center">Terms of Services <img src="/static/images/background/terms.png" alt="terms icon image" width="120"></h1>
</div>

<div class="container pb-4 mb-4">
    <section class="pt-4">
        <h2>1. Limitations on Use</h2>
        <p>You agree that you will use the Services solely for your own personal, non-commercial, lawful purposes, and in accordance with these Terms. You will only use the Services to make legitimate inquiries, reservations or purchases, and not for any purpose that is unlawful or prohibited by these Terms, including without limitation, to make any speculative, false or fraudulent reservation or any reservation in anticipation of demand. You further agree that you will not use any device, software or routine to interfere or attempt to interfere with the proper working of the Services and will not send automated queries of any sort to the Services.</p>
    </section>

    <section>
        <h2>2. Changes</h2>
        <p>TravelApp reserves the right to modify or terminate the Services from time to time, for any reason, and without notice, without liability to you, any other user or any third party. TravelApp reserves the right to change these Terms in the future and asks that you review these Terms from time to time so that you will be aware of any changes. A copy of the current Terms will be readily accessible at our web site at <a href="www.travelapp-deals.com">www.travelapp-deals.com</a>. Your continued use of the Services following any change will be subject to the Terms in effect at the time of your use. Except as expressly described in this Section 2, you and TravelApp can only modify these Terms in a written document signed or otherwise accepted by you and by us.</p>
    </section>

    <section>
        <h2>3. Privacy</h2>
        <p>The TravelApp privacy policy is available for your review at <a href="https://www.travelapp-deals.com/privacy/">https://www.travelapp-deals.com/privacy/</a>. You consent to the information practices and disclosures set forth in that policy, and agree that those practices are reasonable.</p>
    </section>

    <section>
        <h2>4. User Account</h2>
        <p>You may choose to create an account with TravelApp and provide certain data. In consideration of TravelApp permitting you to use the site, in providing such data, you represent and warrant that the information about yourself is true, accurate, current and complete. You are responsible for maintaining the confidentiality of the password and user ID of your account, and are fully responsible for all activities that occur under your password or user ID. Your account is for your own use only. You may not permit others to use your passwords. You agree to (a) immediately notify TravelApp of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. TravelApp cannot and will not be liable for any loss or damage arising from your failure to comply with this requirement.</p>
    </section>

    <section>
        <h2>5. Disclaimer of Warranty</h2>
        <p>THE SERVICES ARE PROVIDED BY TRAVELAPP “AS IS” AND YOU USE THEM AT YOUR SOLE RISK. ALL EXPRESS, IMPLIED, STATUTORY AND OTHER WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW. TRAVELAPP DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY LAW, ANY WARRANTIES FOR THE SECURITY, RELIABILITY, ACCURACY, TIMELINESS, AND PERFORMANCE OF THE SERVICES. Some jurisdictions do not allow the disclaimer of warranties. In such jurisdictions, the foregoing disclaimers shall apply to the fullest extent permitted by law.</p>
    </section>

    <section>
        <h2>6. Fraud Management</h2>
        <p>If your booking or account shows signs of fraud, abuse, or suspicious activity, TravelApp may cancel any travel or service reservations associated with your name, email address, or account, and close any associated TravelApp accounts. If you have conducted any fraudulent activity, the website reserves the right to take any necessary Criminal and/or Civil legal action and you may be liable for monetary losses to the website, including litigation costs and damages. To contest the cancellation of a booking or freezing or closure of an account, please contact TravelApp Customer Care.</p>
        <p>TravelApp reserves the right to undertake all necessary steps to ensure that the security, safety and integrity of TravelApp’s systems, as well as its clients’ interests, are and remain, well-protected. Towards this end, TravelApp may take various steps to verify and confirm the authenticity, enforceability and validity of bookings you placed.</p>
    </section>

    <section>
        <h2>7. Miscellaneous</h2>
        <p>You may not assign, delegate or transfer your rights or obligations under these Terms. You will review these Terms periodically. If TravelApp fails to act with respect to your breach of these Terms or anyone else’s breach on any occasion, TravelApp is not waiving our right to act with respect to future or similar breaches. These Terms are governed by the laws of Singapore without reference to its</p>
    </section>
    <section>
        <h2>8. Payment</h2>
        <section>
            <h3>8.1 Credit Card Details</h3>
            <p>You agree that the credit card details provided or use of TravelApp provider service must be correct and accurate and that you shall not use a credit card, which is not lawfully owned by yourself or the use of which is not authorized by the lawful owner thereof. You further agree and undertakes to Provide correct and valid credit card details.</p>
        </section>
        <section>
            <h3>8.2 Payment fees</h3>
            <p>Some form of payments may be subject to a surcharge. This is specified at the time of booking and is usually based on a percentage of the booking cost.</p>
        </section>
        <section>
            <h3>8.3 Payment Currency</h3>
            <p>Prices are displayed and charged in the currency you selected. Depending on your card issuer, you may be charged foreign currency charges or additional bank charges. For e.g.: If you have booked in KWD currency and have used a bank card with SAR currency, then there would be Foreign Exchange (FX) rates involved to convert the currency from KWD to SAR. Some countries charge an additional FX or surcharges for cross border transactions. You can contact your bank to understand what you are subject to. TravelApp accepts no liability or responsibilities for bank surcharges.</p>
        </section>
        <section>
            <h3>8.4 Refunds</h3>
            <p>All refunds are made back to the same channel used during booking. For example, if you used your credit card, we will make an appropriate charge reversal. If you used your debit card, we will credit the money back to the debit card. Please remember that the cancellation charges along with TravelApp fees, cashback, discounts availed shall be deducted from the refund amount. The refund process will take 2 working days and the amount will reflect in your account within 15-20 working days depending on the issuing bank.</p>
            <p>In case of Mada payments, due to specific regulations, the time to receive your refund may be over 30 days.</p>
            <p>Similarily to FX fees during the purchase, the same may apply during the refund. Your bank may deduct the Foreign Exchange (FX) charges and surcharges as applicable. For e.g.: If you have booked in KWD currency and have used a bank card with SAR currency, TravelApp will refund in KWD currency and your bank would apply Foreign Exchange (FX) rates and possibly surcharges to convert the currency from KWD back to SAR. Contact your bank to know more about this. TravelApp accepts no liability or responsibilities bank surcharges.</p>
        </section>
        <section>
            <h3>8.5 Disclaimer and Limitation of liability</h3>
            <p>Any Subsidiaries owned by TravelApp does not accept liability for any damage, loss, cost (including legal costs), expenses, indirect losses or consequential damage of any kind which may be suffered or incurred by you from the use of this service.</p>
        </section>
    </section>

    </div>




{% endblock %}