<!-- Featured Destinations -->
<!--<div class="container mt-5 w-50">
    <h2 class="mb-4">Featured Destinations</h2>
    <div class="card-deck">
        {% for package in travel_packages %}
        <div class="card shadow-sm">
            <img src="{{ package.images[0].filename }}" class="card-img-top" alt="Destination Image">
            <div class="card-body">
                <h5 class="card-title">{{ package.name }}</h5>
                <p class="card-text">{{ package.description }}</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#destinationModal{{ package.id }}">Learn More</a>
            </div>
        </div>

         Modal 
        <div class="modal fade" id="destinationModal{{ package.id }}" tabindex="-1" role="dialog" aria-labelledby="destinationModalLabel{{ package.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="destinationModalLabel{{ package.id }}">{{ package.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                         Include more details about the destination here 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>-->
        {% endfor %}

        <form class="form-inline" action="{{ url_for('search') }}" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search destinations..." name="search_query">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- header search -->
<!-- slide for desktop view -->
        <!-- Search Bar -->
        <!-- <p>Get started by searching for your next adventure!</p>
          <form class="form-inline" action="{{ url_for('search') }}" method="post">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search destinations..." name="search_query">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form> -->
        div class="d-none" style="width: 100%"><iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q={{package.latitude}},{{package.longitude}}+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps trackers</a></iframe></div>



        <details>
            <summary><code>home</code> Route</summary>
            
            ```python
            @app.route('/', methods=['POST','GET'])
            def home():
                travel_packages = TravelPackage.query.all()
                form = WishedHolidayForm()
                if form.validate_on_submit():
                    wished_holiday = WishedHoliday(
                        holiday_type=form.holiday_type.data,
                        travel_duration=form.travel_duration.data,
                        price_range=str(form.price_range.data),
                        travel_time=str(form.travel_time.data),
                        departure_location=str(form.departure_location.data),
                        additional_info=form.additional_info.data,
                        user_id=current_user.id
                    )
                    db.session.add(wished_holiday)
                    try:
                        db.session.commit()
                        flash('Wished holiday submitted successfully!', 'success')
                        return redirect(url_for('wished_holiday'))
                    except Exception as e:
                        logging.error(f"Error saving wished holiday: {e}")
                        flash('Error submitting wished holiday.', 'danger')
                        return render_template('home.html', form=form )
                return render_template('home.html', travel_packages=travel_packages, form=form )

                Page: Home Page
                Method: POST, GET
                Functionality: Renders home page, handles wished holiday submissions.
            </details>

            """
class Category(db.Model):
    #schema for category model
    id = db.Column(db.Integer,primary_key = True)
    category_name = db.Column(db.String(25),unique=True,nullable = False) #make sure is uinque
    tasks = db.relationship("Task",backref ="category",cascade = "all, delete",lazy = True)

    def __repr__(self):
        #repersent itesef with string
        return self.category_name


class Task(db.Model):
    #schema for task model
    id = db.Column(db.Integer,primary_key = True)
    task_name = db.Column(db.String(50),unique = True,nullable = False)
    task_description = db.Column(db.Text,nullable = False)
    is_urgent = db.Column(db.Boolean,default = False,nullable = False)
    due_date = db.Column(db.Date,nullable = False)
    category_id = db.Column(db.Integer,db.ForeignKey('category.id',ondelete = "CASCADE"),nullable = False )
    #other types >> db.Integer,db.Float 
    def __repr__(self):
        return "# {0} - Task: {1} | Urgent: {2}".format(self.id,self.task_name,self.is_urgent) """


        <form id="callbackForm" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="callbackName" class="form-label">Name</label>
                <input type="text" class="form-control" id="callbackName" name="callbackName" required>
                <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <div class="mb-3">
                <label for="callbackPhone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="callbackPhone" name="callbackPhone" required>
                <div class="invalid-feedback">Please enter your phone number.</div>
            </div>
            <div class="mb-3">
                <label for="callbackMessage" class="form-label">Message</label>
                <textarea class="form-control" id="callbackMessage" name="callbackMessage" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>



        .lead{
            position: relative;
            
            color:#34f4f4;
            
            font-weight: 700;
            font-size: larger;
            text-shadow: 1px 1px #605f5e;
            filter: drop-shadow(0 0 0.75rem rgba(55, 14, 22, 0.838));
            
            padding: 1em;
          }
        